body {
  background: rgb(27, 27, 27);

  color: rgb(216, 216, 216);
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  /* mask-image: linear-gradient(to bottom, transparent, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black); */
}
html {
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  box-sizing: border-box;
}

.background {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: -webkit-fill-available;
  filter: blur(7px);
}

#toggler {
  display: none;
}
/* header */
body header {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  border-radius: 0px 0 20px 20px;
  box-shadow: 0px 0px 10px 5px white;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

body header h1 {
  font-size: 30px;
  letter-spacing: -2px;
  flex-wrap: nowrap;
}

body header nav {
  float: right;
  display: flex;
  align-items: center;
}

body header li,
.hidden a,
.list a {
  list-style: none;
  display: inline;
  margin: 0 7px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.hidden {
  display: flex;
  animation: slide_in 1s ease-out 1 normal;
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.hidden ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.hidden li:not(.selected):hover {
  border-bottom: 2px solid rgb(153, 153, 153);
  color: rgb(153, 153, 153);
  padding: 5px 0px;
}

.nav_toggler {
  display: none;
}

.selected {
  border-bottom: 3px solid white;
  color: white;
  padding: 5px 0px;
  font-weight: 500;
  animation: slide_in 1s ease-out 1 normal;
}

.light_dark {
  background: rgba(255, 255, 255, 0);
  width: 50px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
}

.light {
  width: 20px;
  box-shadow: 0px 0px 20px 5px white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  animation: glow 2s ease infinite alternate-reverse;
}

.resume_download {
  border-radius: 7px;
  border: 2px white solid;
  color: white;
  background: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  font-size: 15px;
  cursor: grab;
}

.resume_download,
.second_resume,
.second_resume_download {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.resume_download img,
.second_resume_download img {
  border-radius: 50%;
  width: 20px;
  margin-right: 5px;
}

.list {
  display: none;
}
/* end of header */

main h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.resume_download:hover,
.second_resume_download :hover {
  color: rgb(153, 153, 153);
  border-color: rgb(153, 153, 153);
}

/* body */

/* about me */
#about_me {
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  padding: 10px;
}

.container button {
  margin: 20px 10vw;
  padding: 5px 10px;
}

.my_picture img {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.my_profile {
  margin: 20px;
  /* animation: animation 16s ease infinite alternate; */

  /* animation-name: slide_in;
   animation-duration: 4s;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-timing-function: ease; */
  line-height: 35px;
  text-align: center;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* .my_profile {
  animation: slide_in 2s ease-out 1 normal;
} */

/* end of ABOUT ME */

/* PROJECT */
#projects {
  padding: 10px;
}

#projects h1,
.experience_container h1,
.skills h1 {
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  margin-bottom: 10px;
}

.my_carousel {
  background: linear-gradient(310deg, rgb(224, 224, 224), rgb(162, 199, 255));
  color: black;
  margin: 0 auto;
  border-radius: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  /* box-shadow: 0px 0px 10px 1px rgb(255, 255, 255); */
  padding: 5px;
  border: 1px solid black;
}

.project_item img {
  max-height: 65vh;
  margin: 0 auto;
  max-width: 80vw;
  padding-top: 30px;
}

.project_item {
  display: flex;
}
.my_carousel_caption {
  width: 80%;
  margin: 0 auto;
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  color: rgb(48, 48, 48);
}

.my_carousel_caption h5 {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.my_carousel_caption p {
  transform: translateY(-25px);
}
/* END OF PROJECT */

/* move up */
.move_up {
  width: 40px;
  border-radius: 50%;
  position: sticky;
  left: 90%;
  top: 90%;
  opacity: 70%;
  cursor: pointer;
  z-index: 10000;
}
/* end of move up */
/* end of body */

/* footer */
.second_resume {
  background: linear-gradient(
    145deg,
    rgb(233, 255, 232),
    rgb(197, 215, 255) 90%,
    rgb(255, 240, 240)
  );
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
}
.second_resume p {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.second_resume_download {
  color: black;
  margin-bottom: 10px;

  border-radius: 5px;
  border: 1px black solid;

  background: rgba(0, 0, 0, 0);

  padding: 10px 20px;
  font-size: 15px;
}
footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}
footer a {
  color: white;
  margin: 10px;
}

.contact_me {
  transform: translateY(7px);
}

@media screen and (min-width: 480px) {
  .second_resume {
    transform: translateY(40px);
    padding: 5px 20%;
  }
  .contact_me svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .second_resume {
    margin-bottom: 25px;
    padding: 0 20%;
  }

  footer a {
    margin: 3px;
  }

  footer {
    padding: 30px 10px;
  }

  .move_up {
    width: 20px;
    transform: translateY(10px);
  }

  .my_profile {
    line-height: 18px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .experiences img {
    width: 25px;
    height: auto;
  }
  header {
    box-sizing: border-box;
  }
  .hidden ul {
    display: none;
  }

  .nav_toggler {
    display: block;
    float: right;
    filter: invert(100%);
  }
  .nav_toggler img {
    width: 30px;
  }

  body header h1 {
    float: left;
  }
  body header nav {
    float: right;
    display: flex;
    position: absolute;
    align-items: center;
    right: 10px;
    top: 15px;
  }

  body header {
    padding: 15px;
    display: grid;
    width: 100%;
    justify-content: unset;
  }

  .list {
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    width: 100%;
    cursor: pointer;
    display: none;
    box-sizing: border-box;
    padding: 0;
  }

  .appear {
    animation: appear 1s ease-out 1 normal;
  }

  .appear-container {
    overflow-y: hidden;
    white-space: nowrap;
  }
  #toggler:checked ~ .list {
    max-height: 100%;
    display: block;
  }

  /* #toggler:checked ~ .nav {
position: fixed;
top: 20px;
right: 20px;
  } */

  #about_me {
    font-family: "Cabin", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
  }

  .my_profile {
    line-height: 24px;
    font-size: 14px;
  }

  /* .close{
  display: none;
}
  #toggler:checked ~ .more{
 display: none;
  }

  #toggler:checked ~ .close{
    display: block;
  } */

  .selected {
    border: unset;
  }

  .list li {
    display: block;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 15px;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
  }

  .list li:first-child {
    display: block;
    border-left: 0;
    border-right: 0;
    padding: 15px;
    border-top: 2px;
    border-style: solid;
    border-color: white;
  }

  .container {
    display: inline-block;
  }

  .my_picture {
    width: 50%;
    margin: 0 auto;
  }

  .resume_download {
    margin-top: 15px;
  }

  .project_item img {
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contact_me svg {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  footer h1 {
    font-size: 32px;
  }
}

/* ANIMATIONS */
@keyframes slide_in {
  0% {
    opacity: 0%;
    transform: translateY(5px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */

.reveal {
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/* font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */

.wavy {
  position: relative;
}

.wavy span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.03s * var(--i));
}

.creep {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
  border-right: 3px solid black;
  transform: scale(1.2);
  text-transform: capitalize;
  font-weight: 600;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}

.experiences {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  justify-items: center;
  font-family: monospace;
  font-weight: 900;
}

.experiences div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiences img {
  width: 50px;
  height: auto;
  margin: 5px;
}

.skills li {
  list-style: circle;
  margin-left: 20%;
  padding: 5px;

  font-size: 18px;
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px 2px white;
  }

  100% {
    box-shadow: 0px 0px 20px 5px white;
  }
}

/* porject expanxiated */
.project_explained:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.project_explained {
  background: white;
  border: 1px solid red;
  padding: 20px;
  display: flex;
  margin: 5%;
  border-radius: 15px;
      font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.project_explained img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}

.button_links {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-family: monospace;
  font-weight: 900;
}

.button_links button {
  padding: 5px;
  width: 70px;
  text-decoration: none;
  margin: 0 5px;
  /* border: none;
  background: unset; */
}


.btn-one {
  color: red;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(224, 32, 32);
  border-bottom-color: rgba(250, 19, 19, 0.788);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.13);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.project_explained_text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  flex-direction: column;
  padding :20px;
  font-size: 14px;
  line-height: 20px;
}

.project_explained_text h5{
  text-transform: uppercase;
  margin: 0px 0;
  font-size: 18px;
}

.project_explained_text p{
  margin: 5px 0;

}

@media screen and (max-width: 768px) {
.project_explained{
  padding: 15px;
  margin: 15px;
}

  .project_explained_text{
    font-size: 10px;
line-height: 13px;
padding: 10px;
  }

.button_links {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-family: monospace;
  font-weight: 900;
}

.button_links button {
  padding: 3px;
  width: 40px;
  text-decoration: none;
  margin: 0 2px;
  font-size: 10px;
  /* border: none;
  background: unset; */
}

  .project_explained_text h5{
    font-size: 13px;
line-height: 13px;

  }

}

*{
  box-sizing: border-box;
}