body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}
html {
  width: 100%;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
}

#toggler {
  display: none;
}
/* header */
body header {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 0px 0 20px 20px;
  box-shadow: 0px 0px 10px 5px white;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

body header h1 {
  font-size: 30px;
  letter-spacing: -2px;
  flex-wrap: nowrap;
}

body header nav {
  float: right;
}

body header li,
.hidden a,
.list a {
  list-style: none;
  display: inline;
  margin: 0 7px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.hidden {
  display: flex;
}
.hidden li:not(.selected):hover {
  border-bottom: 2px solid rgb(153, 153, 153);
  color: rgb(153, 153, 153);
  padding: 5px 0px;
}

.nav_toggler {
  display: none;
}

.selected {
  border-bottom: 3px solid rgb(255, 255, 255);
  padding: 5px 0px;
  font-weight: 900;
}

.light_dark {
  background: white;
  width: 50px;
}

.resume_download {
  border-radius: 5px;
  border: 1px white solid;
  color: white;
  background: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  font-size: 15px;
  cursor: grab;
}

.resume_download,.second_resume,.second_resume_download{
  display: flex;
  margin: 0 auto;
    text-align: center;
}
.resume_download img,.second_resume_download img {
  border-radius: 50%;
  width: 20px;
  margin-right: 5px;
}


.list {
  display: none;
}
/* end of header */

main h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.resume_download:hover,
.second_resume_download :hover {
  color: rgb(153, 153, 153);
  border-color: rgb(153, 153, 153);
}

/* body */

/* about me */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  padding: 10px;
}

.container button {
  margin: 20px 10vw;
  padding: 5px 10px;
}

.my_picture img {
  width: 100%;
}

.my_profile {
  margin: 20px;
  /* animation: animation 16s ease infinite alternate; */

  /* animation-name: slide_in;
   animation-duration: 4s;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-timing-function: ease; */
}

.my_profile {
  animation: slide_in 2s ease-out 1 normal;
}

/* end of ABOUT ME */

/* PROJECT */
#projects {
  padding: 10px;
}

/* move up */
.move_up {
  width: 40px;
  border-radius: 50%;
  position: sticky;
  left: 95%;
  top: 90%;
  opacity: 70%;
  cursor: pointer;
}
/* end of move up */
/* end of body */

/* footer */
.second_resume {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
}
.second_resume p {
  margin: 10px;
}
.second_resume_download {
  color: black;
  margin-bottom: 10px;

  border-radius: 5px;
  border: 1px black solid;

  background: rgba(0, 0, 0, 0);

  padding: 10px 20px;
  font-size: 15px;
}
footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}
footer a {
  color: white;
  margin: 10px;
}

.contact_me {
  transform: translateY(7px);
}

@media screen and (min-width: 480px) {
  .second_resume {
    transform: translateY(40px);
    padding: 5px 20%;
  }
  .contact_me svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .second_resume {
    margin-bottom: 25px;
    padding: 0 20%;
  }

  footer a {
    margin: 3px;
  }

  footer {
    padding: 30px 10px;
  }

  .move_up {
    width: 20px;
    transform: translateY(10px);
  }
}

@media screen and (max-width: 768px) {
  header {
    box-sizing: border-box;
  }
  .hidden ul {
    display: none;
  }

  .nav_toggler {
    display: block;
    float: right;
    transform: translateY(-25px);
  filter: invert(100%);
  
  }
  .nav_toggler img{
    width: 30px;
  }

  body header h1 {
    float: left;
  }

  body header {
    padding: 15px;
    display: grid;
    width: 100%;
    justify-content: unset;
  }

  .list {
    align-items: center;
    text-align: center;
    cursor: pointer;
  }

  .list {
    width: 100%;
    cursor: pointer;
    display: none;
    box-sizing: border-box;
    padding: 0;
  }

  #toggler:checked ~ .list {
    max-height: 100%;
    display: block;
  }

  .selected {
    border: unset;
  }

  .list li {
    display: block;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 15px;
    border-top: 2px;
    border-style: solid;
    border-color: white;
  }
  .list li:last-child {
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
  }

  .container {
    display: inline-block;
  }

  .my_picture {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .contact_me svg {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  footer h1 {
    font-size: 32px;
  }
}

/* ANIMATIONS */
@keyframes slide_in {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */

.reveal {
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/* font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
